@page "/"
@using InTheHand.Net.Sockets
@rendermode InteractiveServer

@inject ILogger<Home> logger


<PageTitle>Home</PageTitle>
<h1>Bluetooth devices</h1>

<div class="d-flex justify-content-between">
	<ul class="nav nav-underline">
		<li class="nav-item">
			<a href="#" class="nav-link @IsActive(Tab.Paired)" @onclick="() => SetTab(Tab.Paired)">
				Paired devices
			</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link @IsActive(Tab.New)" @onclick="() => SetTab(Tab.New)">
				New devices
			</a>
		</li>
	</ul>
	<div class="buttons">
		@if (_state.Tab is Tab.New)
		{
			@if (_searchProgress)
			{
				<button class="btn btn-outline-dark" @onclick="StopSearch">Stop</button>
			}
			else
			{
				<button class="btn btn-outline-dark" @onclick="StartSearch">Refresh</button>
			}
		}
		else
		{
			<div class="btn btn-outline-dark" @onclick="ToggleColumns">Toggle more columns</div>
		}
	</div>
</div>

@if (_state.Tab is Tab.Paired)
{
	<table class="table table-striped">
		<thead>
		<tr>
			<th>Connected</th>
			<th>Device name</th>
			<th>Class of device</th>
			<th>Address</th>
		</tr>
		</thead>
		<tbody class="table-group-divider">
		@foreach (var device in PairedDevices)
		{
			<tr class="device">
				<td>
					@if (device.Connected)
					{
						<div class="bi bi-check-circle-fill text-success"></div>
					}
					else
					{
						<div class="bi bi-x-circle-fill text-danger"></div>
					}
				</td>
				<td>@device.DeviceName</td>
				<td>@device.ClassOfDevice.Device</td>
				<td>@device.DeviceAddress</td>
			</tr>
		}
		</tbody>
	</table>
}
else
{
	<table class="table table-striped">
		<thead>
		<tr>
			<th>Название устройства</th>
			<th>Тип устройства</th>
			<th>Адрес</th>
		</tr>
		</thead>
		<tbody class="table-group-divider">
		@foreach (var device in Devices)
		{
			<tr class="device">
				<td>@device.DeviceName</td>
				<td>@device.ClassOfDevice.Device</td>
				<td>@device.DeviceAddress</td>
			</tr>
		}
		</tbody>
	</table>
}

@code
{
	readonly State _state = new();
	bool _searchProgress;
	IEnumerable<BluetoothDeviceInfo> PairedDevices => Client.PairedDevices.OrderByDescending(d => d.Connected);
	List<BluetoothDeviceInfo> Devices { get; } = [];
	BluetoothClient Client { get; set; }
	CancellationTokenSource Cancellation { get; set; }

	protected override void OnInitialized()
	{
		Client = new BluetoothClient();
		Cancellation = new CancellationTokenSource();
	}

	private void StopSearch()
	{
		logger.LogInformation("stop ble search");
		_searchProgress = false;
		StateHasChanged();

		Cancellation.Cancel(true);
	}

	private async Task StartSearch()
	{
		Devices.Clear();
		logger.LogInformation("Start ble search");
		_searchProgress = true;
		StateHasChanged();
		try
		{
			if (!Cancellation.TryReset())
				Cancellation = new CancellationTokenSource();
			var devicesAsync = Client.DiscoverDevicesAsync(Cancellation.Token);
			await Task.Delay(1);

			await foreach (var device in devicesAsync)
			{
				Devices.Add(device);
				logger.LogInformation("Find {DeviceName}", device.DeviceName);
				StateHasChanged();
			}
		}
		catch (Exception e) when (e is not TaskCanceledException)
		{
			logger.LogError(e, "Search bluetooth devices exception");
			Cancellation.TryReset();
		}
		finally
		{
			_searchProgress = false;
			logger.LogInformation("Stop ble search");
		}
	}

	private string IsActive(Tab tab)
	{
		return _state.Tab == tab ? "active" : string.Empty;
	}

	private void SetTab(Tab tab)
	{
		StopSearch();
		if (_state.Tab != tab)
			_state.Tab = tab;
	}

	private void ToggleColumns()
	{
		_state.MoreColumns = !_state.MoreColumns;
	}

	#region Inner classes

	class State
	{
		public bool MoreColumns { get; set; }
		public Tab Tab { get; set; } = Tab.Paired;
	}

	enum Tab
	{
		Paired,
		New
	}

	#endregion

}